
{% extends "main/base.html" %}

{% block content %}
  <div>
    <h1>{{request.user.get_profile.display_name}}</h1>
  <div>
  <p>
  {% if profile.facebook %}
    connected to facebook account <a href="{{profile.facebook.link}}">{{profile.facebook.name}}</a> - <a href="{% url main.views.facebook_disconnect %}">disconnect</a>
  {% else %}
    <a href="https://www.facebook.com/dialog/oauth?client_id=192070850827451&redirect_uri=http://localhost:8000/facebook_auth&scope=publish_stream">connect to facebook</a>
  {% endif %}
  </p>

  <h2>home dance</h2>
  <ul>
  {% for homeship in request.user.homeships.all %}
  <li><a href="{% url main.views.dance homeship.dance.id %}">{{homeship.dance.name}}</a></li>
  {% endfor %}
  </ul>

  <h2>events</h2>
  <ul>
  {% for attendship in profile.user.attendships.all %}
  <li><a href="{% url main.views.dance attendship.event.dance_id %}">{{attendship.event.dance}}</a> on {{attendship.event.date}}</li>
  {% endfor %}
  </ul>
{% endblock %}
