{% extends "main/base.html" %}

{% block content %}
  <div>
    <h2>What is Dance Contraption?</h2>
    <p>Dance Contraption is:</p>
    <p>
        <ul>
            <li>Brand new, and pretty useless right now. Find Brandon Martin-Anderson (badhill@gmail.com) and tell him what you think!</li>
            <li>A tool for effective dance gypsying.</li>
            <li>A place to host a community history of how callers, bands, events, and dancers interacted and crossed paths.</li>
            <li>A place to moving dance organization off of Facebook and onto a place that doesn't exist explicitly to exploit community interactions for commercial gain.</li>
        </ul>
    </p>
    <p>
    Also I'm interested in finding out who founded each dance and where they started dance to create a history of how contra expanded throughout the US and I figure this would be an easy platform for collecting that information.</p>
    <h2>dances</h2>
    <ul>
    {% for dance in dances %}
      <li><a href="/dance/{{dance.id}}/">{{ dance.name }}</a></li>
    {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <div>
      <a href="/dance/add/">add dance</a>
    </div>
    {% endif %}
    <h2>bands</h2>
    <ul>
    {% for band in bands %}
      <li><a href="{% url main.views.band band.id %}">{{band.name}}</a></li>
    {% endfor %}
    {% if user.is_authenticated %}
    {% endif %}
    </ul>
    <div>
      <a href="{% url main.views.band_add %}">add band</a>
    </div>
  <div>
{% endblock %}



