{% extends "main/base.html" %}

{% block content %}
  <div>
    <h1>Dance Contraption</h1>
    {% if user.is_authenticated %}
      you're totally logged in as {{user.username}}
    {% else %}
      <a href="{% url main.views.login %}">login</a>
    {% endif %}
    <h2>dances</h2>
    <ul>
    {% for dance in dances %}
      <li><a href="/dance/{{dance.id}}/">{{ dance.name }}</a></li>
    {% endfor %}
    </ul>
    <div>
      <a href="/dance/add/">add dance</a>
    </div>
  <div>
{% endblock %}



