{% extends "main/base.html" %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){

        react_to_person_search = function(data) {
            // blank suggestion list
            $("#autosuggest").html("");

            // for each suggestion
            for(i=0; i<data.matches.length;i++) {
                // create a div
                var matchdiv = $("<div>"+data.matches[i]+"</div>")
                
                // highlight on mouseover
                matchdiv.mouseenter(function(event) {
                    $(this).css('background-color','#E8E8E8');
                }).mouseleave(function(event) {
                    $(this).css('background-color','white');
                });

                // on click set form text to div text 
                matchdiv.click(function(event){
                    $("#name").val($(event.currentTarget).text());
                })

                // slap this div on the end of the suggestions list
                $("#autosuggest").append( matchdiv );
            }
        }

        functionQueued = false;

        $('#name').keydown(function(event) {
            if (!functionQueued) {
                window.setTimeout(function() {
                    var input_value = event.currentTarget.value;
                    $.getJSON("/person/search/json/?q="+input_value, react_to_person_search);
                    functionQueued = false;
                }, 400, true);
                functionQueued = true;
            }
        });

    });
</script>
{% endblock %}

{% block content %}
<input id="name" autocomplete="off"></input>
<div id="autosuggest">
</div>
{% endblock %}

